[mcu AFC2]
#canbus_uuid: change_me_to_canbus_id
#serial: /dev/serial/by-id/change-me-to-the-correct-path
#serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_2A0006001151333038363231-if00
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_2D003B001251333038363231-if00

[include mcu/Turtle2.cfg]

[temperature_sensor AFC2]
sensor_type: temperature_mcu
sensor_mcu: AFC2

[AFC_stepper leg5]
unit: Turtle_2:1
extruder: extruder
step_pin: AFC2:M1_STEP
dir_pin: !AFC2:M1_DIR
enable_pin: !AFC2:M1_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 140
park_dist: 10
led_index: AFC_Indicator:1
afc_motor_rwd: AFC2:MOT1_RWD
afc_motor_fwd: AFC2:MOT1_FWD
afc_motor_enb: AFC2:MOT1_EN
afc_motor_fwd_pulse: 64
afc_motor_fwd_gear_ratio: 2:1
afc_motor_fwd_drive_diam: 48
rwd_speed_multiplier: 0.75
fwd_speed_multiplier: 0.2
pwm: True
prep: ^!AFC2:TRG1
load: ^AFC2:EXT1

[tmc2209 AFC_stepper leg5]
uart_pin: AFC2:M1_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper leg6]
unit: Turtle_2:2
extruder: extruder
step_pin: AFC2:M2_STEP
dir_pin: !AFC2:M2_DIR
enable_pin: !AFC2:M2_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 80
park_dist: 10
led_index: AFC_Indicator:2
afc_motor_rwd: AFC2:MOT2_RWD
afc_motor_fwd: AFC2:MOT2_FWD
afc_motor_enb: AFC2:MOT2_EN
afc_motor_fwd_pulse: 64
afc_motor_fwd_gear_ratio: 2:1
afc_motor_fwd_drive_diam: 48
rwd_speed_multiplier: 0.75
fwd_speed_multiplier: 0.2
pwm: True
prep: ^!AFC2:TRG2
load: ^AFC2:EXT2

[tmc2209 AFC_stepper leg6]
uart_pin: AFC2:M2_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper leg7]
unit: Turtle_2:3
extruder: extruder
step_pin: AFC2:M3_STEP
dir_pin: !AFC2:M3_DIR
enable_pin: !AFC2:M3_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 80
park_dist: 10
led_index: AFC_Indicator:3
afc_motor_rwd: AFC2:MOT3_RWD
afc_motor_fwd: AFC2:MOT3_FWD
afc_motor_enb: AFC2:MOT3_EN
afc_motor_fwd_pulse: 64
afc_motor_fwd_gear_ratio: 2:1
afc_motor_fwd_drive_diam: 48
rwd_speed_multiplier: 0.75
fwd_speed_multiplier: 0.2
pwm: True
prep: ^!AFC2:TRG3
load: ^AFC2:EXT3

[tmc2209 AFC_stepper leg7]
uart_pin: AFC2:M3_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper leg8]
unit: Turtle_2:4
extruder: extruder
step_pin: AFC2:M4_STEP
dir_pin: !AFC2:M4_DIR
enable_pin: !AFC2:M4_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 140
park_dist: 10
led_index: AFC_Indicator:4
afc_motor_rwd: AFC2:MOT4_RWD
afc_motor_fwd: AFC2:MOT4_FWD
afc_motor_enb: AFC2:MOT4_EN
afc_motor_fwd_pulse: 64
afc_motor_fwd_gear_ratio: 2:1
afc_motor_fwd_drive_diam: 48
rwd_speed_multiplier: 0.75
fwd_speed_multiplier: 0.2
pwm: True
prep: ^!AFC2:TRG4
load: ^AFC2:EXT4

[tmc2209 AFC_stepper leg8]
uart_pin: AFC2:M4_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_hub Turtle_2]
Type: Box_Turtle
afc_bowden_length: 2200         # Length of the Bowden tube from the hub to the toolhead sensor in mm.
move_dis: 50                   # Distance to move the filament within the hub in mm.
cut: False                     # Hub has Cutter
#--=================================================================================--
#------- Hub Cut ---------------------------------------------------------------------
#--=================================================================================--
cut_cmd: AFC                   # CMD to use
cut_dist: 200                  # How much filament to cut off (in mm).
cut_clear: 120                 # How far the filament should retract back from the hub (in mm).
cut_servo_name: cut            # Servos name in configuration to use
cut_min_length: 300.0
cut_servo_pass_angle: 10       # Servo angle to align the Bowden tube with the hole for loading the toolhead.
cut_servo_clip_angle: 180      # Servo angle for cutting the filament.
cut_servo_prep_angle: 80       # Servo angle to prepare the filament for cutting (aligning the exit hole).
switch_pin: ^AFC2:HUB

[AFC_led AFC2_Indicator]
pin: AFC2:RGB1
chain_count: 4
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

#[neopixel Corners]
#pin: AFC2:RGB2
#chain_count: 6

#[neopixel Extra1]
#pin: AFC2:RGB3
#chain_count: 4
#color_order: RGBW

#[neopixel Extra2]
#pin: AFC2:RGB4
#chain_count: 4
#color_order: RGBW